<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ArticleDao">

    <sql id="querySql">id,title,author,content,crea_date,guru_id</sql>

    <select id="selectAll" resultType="Article">
        select <include refid="querySql"></include> from article limit #{start},#{rows}
    </select>

    <select id="selectAllByGuru" resultType="Article">
        select <include refid="querySql"></include> from article where guru_id=#{guru_id}
    </select>

    <select id="countAll" resultType="Integer">
        select count(id) from article
    </select>

    <insert id="addOne" parameterType="Article">
        insert into article(id,title,author,content,crea_date,guru_id) values(#{id},#{title},#{author},#{content},#{crea_date},#{guru_id})
    </insert>

    <update id="updateOne" parameterType="Article">
        update article
        <set>
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="author!=null">
                author=#{author},
            </if>
            <if test="content!=null||content!=''">
                content=#{content},
            </if>
            <if test="crea_date!=null">
                crea_date=#{crea_date},
            </if>
            <if test="guru_id!=null">
                guru_id=#{guru_id},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteOne">
        delete from article where id = #{id}
    </delete>
</mapper>