<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ChapterDao">

    <sql id="querySql">id,name,url,size,duration,up_date,album_id</sql>

    <select id="selectAllByAlbum" resultType="Chapter">
        select <include refid="querySql"></include>  from chapter where album_id =#{albumId} limit #{start},#{rows}
    </select>

    <select id="selectOne" resultType="Chapter">
        select <include refid="querySql"></include> from chapter where id=#{id}
    </select>

    <select id="countAllByAlbum" resultType="Integer">
        select count(id) from chapter where album_id =#{albumId}
    </select>

    <insert id="addOne" parameterType="Chapter">
        insert into chapter(<include refid="querySql"></include>) values(#{id},#{name},#{url},#{size},#{duration},#{up_date},#{album_id})
    </insert>

    <update id="updateOne" parameterType="Chapter">
        update chapter
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="url!=null">
                url=#{url},
            </if>
            <if test="size!=null">
                size=#{size},
            </if>
            <if test="duration!=null">
                duration=#{duration},
            </if>
            <if test="up_date!=null">
                up_date=#{up_date},
            </if>
            <if test="album_id!=null">
                album_id=#{album_id},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteOne">
        delete from chapter where id = #{id}
    </delete>
</mapper>